Assignment-20

1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [4]:
test = 'This is a test of the emergency text system,'
filee = open('test.txt','w')
filee.write(test)

44

In [5]:
#2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
# and test 2?
file2 = open('test.txt','r')
test2 = file2.readline()
test2

'This is a test of the emergency text system,'

3. Create a CSV file called books.csv by using these lines:

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

In [6]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

In [7]:
#4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
# these fields: title (text), author (text), and year (integer).

'This is a test of the emergency text system,'

In [6]:

import pyodbc as odbc

DRIVER_NAME = 'SQL SERVER'
SERVER_NAME = 'GGKU4DELL1254'
DATABASE_NAME = 'BookStore'

connection_string= f"""
    DRIVER={{{DRIVER_NAME}}};
    SERVER={SERVER_NAME};
    DATABASE={DATABASE_NAME};
    Trust_Connection=yes;
"""
conn=odbc.connect(connection_string)

<pyodbc.Connection object at 0x000001CFCF371D50>

In [16]:
cursor = conn.cursor()

In [10]:
#4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
# these fields: title (text), author (text), and year (integer).
cursor.execute('create table books(title varchar(20),author varchar(20), year int)')
cursor.commit()

In [38]:
#5. Read books.csv and insert its data into the book table.
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')

# read_books.to_sql('books', curser, if_exists='append', index = False)
# Insert DataFrame to Table
for row in read_books.itertuples():
    cursor.execute('''
                INSERT INTO books (title, author, year)
                VALUES (?,?,?)
                ''',
                row.title, 
                row.author,
                row.year
                )
cursor.commit()

In [39]:
#6. Select and print the title column from the book table in alphabetical order.
cursor.execute('select title from books order by title asc')
print(cursor.fetchall())

[('Perdido', ), ('Perdido', ), ('Small Gods', ), ('Small Gods', ), ('The Spellman', ), ('The Spellman', ), ('The Weirdstone', ), ('The Weirdstone', ), ('The Weirdstone', ), ('Thud!', ), ('Thud!', )]

In [43]:
#7. From the book table, select and print all columns in the order of publication.
# cursor.execute('select title,author,year from books order by year')
df = pd.read_sql('select title,author,year from books order by year',conn)
df

C:\Users\akish.pothuri\AppData\Local\Temp\ipykernel_28472\3060805192.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('select title,author,year from books order by year',conn)

             title            author  year
0   The Weirdstone       Alan Garner  1960
1   The Weirdstone       Alan Garner  1960
2   The Weirdstone       Alan Garner  1960
3       Small Gods   Terry Pratchett  1992
4       Small Gods   Terry Pratchett  1992
5          Perdido  China Miï¿½ville  2000
6          Perdido  China Miï¿½ville  2000
7            Thud!   Terry Pratchett  2005
8            Thud!   Terry Pratchett  2005
9     The Spellman         Lisa Lutz  2007
10    The Spellman         Lisa Lutz  2007

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.

In [44]:
!pip install redis

Collecting redis
  Downloading redis-4.5.4-py3-none-any.whl (238 kB)
                                              0.0/238.9 kB ? eta -:--:--
     --------------------------------       204.8/238.9 kB 4.1 MB/s eta 0:00:01
     -------------------------------------- 238.9/238.9 kB 2.9 MB/s eta 0:00:00
Collecting async-timeout>=4.0.2 (from redis)
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.5.4

In [46]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

In [ ]:
#10. Increment the count field of test and print it.
conn.hincrby('test','count', 3)